/* Color scheme */
:root {
    --main-accent: #000080; /* navy blue */
    --shadow: #d3d3d3;
    --dark-shadow: #7e7e7e;
    --main-bg: #FFFFF0 /* ivory */
}

/* Elements' parameters */

nav-menu {
    color: var(--main-accent);
    margin: 0 0 0 0;
}
.text-center {
    text-align: center;
}

/* Styling horizontal lines */
hr.topline {
    border: 5px solid var(--main-accent);
    border-radius: 1px;
    margin: 0 0 0 0;
}

/* Some general parameters */

div.site-footer {
    border-top-color: var(--dark-shadow);
    border-top-style: solid;
    border-top-width: 1px;
    color: var(--dark-shadow);
}

.footer-text {
    margin-left: 10%;
}

/* navigation top panel */
a.nav-link {
    padding: 5px;
    color: var(--main-accent);
    text-decoration: none;
}

a.nav-link:hover {
    color: var(--main-bg);
    background-color: var(--main-accent);
    padding: 5px;
    border-radius: 2px;
}

/* normal links */

a:not(.nav-link){
    color: var(--main-accent);
    border-top: 1px dashed var(--main-accent);
    border-bottom: 1px dashed var(--main-accent);
    text-decoration: none;
    padding: 2px;
}
a:hover:not(.nav-link) {
    color: var(--main-bg);
    background-color: var(--main-accent);
    border-radius: 5px;
    padding: 2px;
}

/* special links type */
a[href*="github.com"]:not(.nav-link)::before {
    content: url('/gh.svg');
    vertical-align: -30%;
}

a[href*="wikipedia.org"]:not(.nav-link)::before {
    content: url('/wiki.svg');
    vertical-align: -30%;
}

a[href*="bochkarev.io"]:not(.nav-link)::before {
    content: '§ '
}

a:not([href*='bochkarev.io']):not([href^='#']):not([href^='/']):not([href*="github.com"]):not([href*="wikipedia.org"]):not(.nav-link)::before {
    content: url('/outside.svg');
    padding: 5px;
}

/* a[href*="github.com"]:not(.nav-link):hover::before, */
/* a[href*="wikipedia.org"]:not(.nav-link):hover::before */
a:hover::before
{
    filter: invert(100%);
}


/* menu style */
.menu {
    text-align: center;
    float: center;
}

/* sticky top menu */
.row {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.nav-icon-link {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
    fill: currentColor;
    padding: 5px;
    border-radius: 2px;
}

/* note block (metadata) */
.note-block {
    border-left-color: var(--shadow);
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 10px;
}

.metadata {
    font-size: 70%;
}
/* general parameters */
.main-text {
    margin-left: 20%;
    max-width: 70ch;
}

body {
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
}

/* sticky footer */
html, body {
    height: 100%;
}
.container {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}
